.top_container {
  position: relative;
  background-color: white;
  height: 40%;
  display: flex;
  flex-direction: column;
}

.user_name {
  font-size: 25px;
  margin: 0; /* マージンをリセット */
  position: absolute; /* 絶対位置に変更 */
  top: 5%; /* top_containerからの相対位置 */
  left: 13%; /* top_containerからの相対位置 */
}

.icon {
  object-fit: cover;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  position: absolute; /* 絶対位置に変更 */
  top: 25%; /* top_containerからの相対位置 */
  left: 15%; /* top_containerからの相対位置 */
}

.introduction {
  font-size: 20px;
  margin: 0; /* マージンをリセット */
  position: absolute; /* 絶対位置に変更 */
  top: 30%; /* top_containerからの相対位置 */
  left: 40%; /* top_containerからの相対位置 */
}