
.container {
  display: flex;
  height: 100vh; /* ビューポートの高さ全体を使う */
}

.leftSide {
  flex: 1.5; /* 左側のコンテンツが画面の半分を占める */
  background-color: white;
  padding: 0px;
}

.rightSide {
  flex: 1; /* 右側のコンテンツが画面の半分を占める */
  background-color: lightblue;
  padding: 0px;
}
